@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.wrapper {
  @include flex-column;
  gap: $spacing-3;
}

.fullWidth {
  width: 100%;
}


.errorInput {
  border-color: $red-text-color !important;

  &:focus {
    border-color: $red-text-color;
    box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.12);
  }
}

.error {
  font-size: $font-size-xs;
  color: $red-text-color;
  margin-top: $spacing-1;
}
.selectContainer {
  position: relative;
  width: 100%;
}

.select {
  width: 100%;
  padding: $spacing-6 $spacing-6;
  border: 1px solid $gray-300;
  background-color: $gray-150;
  border-radius: $radius-xs;
  font-size: $font-size-sm;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease;
  &:focus{
    outline: none;
  }
}

.select:disabled {
  background-color: #f3f4f6;
  color: $gray-400;
  cursor: not-allowed;
  opacity: 1;
}

.wrapper:has(select:disabled) .label {
  color: $gray-400;
}

.tooltipAnchor {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: $spacing-2;
  cursor: pointer;
}

.infoIcon {
  font-size: $font-size-xs;
  color: $primary-color;
  line-height: 1;
  user-select: none;

  &:hover {
    color: $primary-color;
  }
}
:global(.customSelect__placeholder) {
  font-size: $font-size-sm;
}
.tooltipBox {
  position: absolute;
  bottom: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  background-color: $gray-800;
  color: $white-color;
  font-size: $font-size-xs;
  font-weight: $font-weight-400;
  padding: $spacing-3 $spacing-5;
  border-radius: $radius-xs;
  white-space: nowrap;
  z-index: 100;
  pointer-events: none;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: $gray-800;
  }
}
