@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.signupText {
      margin-top: $spacing-16;
    text-align: center;
  color:$gray-dark-plus-color;
  padding: $spacing-5 0;
  padding-left: $spacing-24;
}

.signupContainer {

  max-width: 470px;
    margin-left: 4vw;
  @include flex-column;
  gap: $spacing-9;
}

.row {
  display: flex;
  gap: $spacing-5;

  > * {
    flex: 1;
  }
}

.btn {
  margin-top: $spacing-7;
}
.notHaveText {
  @include authRedirectText;
}
