@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;


.container {
  padding-top: $spacing-16;
  width: 100%;
  max-width: 500px;
  @include flex-column;
  gap: $spacing-7;
}

.header {
  @include flex-column;
  align-items: center;
  gap: $spacing-4;
  text-align: center;
}

.icon {
  @include flex-center;
  margin-bottom: $spacing-2;
}

.title {
  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;
  color: $gray-full-color;
  margin: 0;
}

.subtitle {
  font-size: $font-size-sm;
  color: $gray-medium-color;
  line-height: 1.6;
  margin: 0;
  max-width: 460px;
}

.highlight {
  font-weight: $font-weight-semibold;
  color: $gray-full-color;
}

.formBox {
  background-color: $gray-very-light-color;
  border-radius: $radius-md;
  padding: $spacing-9 $spacing-8;
  @include flex-column;
  gap: $spacing-6;
}

.form {
  @include flex-column;
  gap: $spacing-7;
}

.btnRow {
  display: flex;
  gap: $spacing-5;

  > * {
    flex: 1;
  }
}

.cancelBtn {
  border: 1px solid $gray-light-color;
  background: $white-color;
  color: $gray-dark-color;

  &:hover {
    background-color: $gray-very-light-color;
  }
}

.submitBtn {
  background-color: $sky-blue-color;
  color: $white-color;

  &:hover {
    background-color: $sky-blue-slight-dark-color;
  }
}

.timerRow {
  text-align: center;
}

.timerText {
  font-size: $font-size-sm;
  color: $gray-medium-color;
}

.timerValue {
  color: $red-color;
  font-weight: $font-weight-semibold;
}

.resendRow {
  text-align: center;
}

.resendText {
  font-size: $font-size-sm;
  color: $gray-medium-color;
}

.resendLink {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: $sky-blue-color;
  font-size: $font-size-sm;
  text-decoration: underline;

  &:disabled {
    color: $gray-medium-color;
    cursor: not-allowed;
    text-decoration: none;
  }

  &:not(:disabled):hover {
    color: $sky-blue-slight-dark-color;
  }
}