.spinner {
  border: $spacing-1 solid #e5e7eb;
  border-top: $spacing-1 solid #05abee;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}